<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/search.css">
</head>

<body>
    <div class="search-wrapper">
        <div class="input-holder">
            <form action="/search" method="post">
                <input type="text" name="cocktail_name" class="search-input" placeholder="Whats Your poison ?" />
                <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
            </form>
        </div>
        <span class="close" onclick="searchToggle(this, event);"></span>
    </div>
    <script src="js/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</body>

</html>